.git
.gitignore
.github
images/
__pycache__/
*.pyc
.playwright-cli/
build-wcocr/
build-wcocr.sh
test.sh
temp/
static/
node_modules/
*.pen
design/
uv.lock
pyproject.toml
.python-version
README.MD
docker-compose.yml
Dockerfile
.dockerignore
.opencode/
pen/
